.darkHomeLayout, .lightHomeLayout{
    display: flex;
}
.darkHomeLayout {
    background-color: var(--backgroundColor);
}

.lightHomeLayout {
    background-color: white;
}

.middleContentLayout{
    width: 70%;
    margin: auto;
    margin-top: 10vh;
    padding: 0 15px;
}




